.editor {
  flex: 5;
  max-height: calc(100vh - 40px);;

  & .editorHead {
    width: 100%;
    display: grid;
    height: 62px;
    grid-template-columns: 5fr 1fr;
    padding: 0.65rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    
    & input {
      font-size: 1.8rem;
      font-weight: 200;
    }
  }

  & {
    .editorBody {
      width: 100%;
      height: calc(100vh - 40px - 62px);
      display: flex;
      flex-direction: column;
    }
  }
}