.hashFilterWrapper {

  display: flex;
  min-height: 200px;
  max-height: 200px;
  overflow: scroll;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  p {
    font-size: 20px;
    margin-top: 0.5rem;
    text-decoration: dotted;
  }

  .hashFilterList {
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0.3rem;
    gap: 0.5rem;
    
  
    & div {
      display: flex;
      position: relative;
      align-items: center;
      justify-self: center;
      width: max-content;
      padding: 0.25rem 0.5rem;
      height: 32px;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 16px;
      white-space: nowrap;
      border: 1px solid  rgba(0, 0, 0, 0.22);
      cursor: pointer;
    }
  
    & div {
      height: 24px;
    }
  
    .active {
      background-color: rgba(0, 128, 0, 0.250);
    }
  }
}

