.hashList {
  width: 100%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);

  & div {
    display: flex;
    position: relative;
    align-items: center;
    justify-self: center;
    width: max-content;
    padding: 0.25rem 0.5rem;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.08);
    padding-right: 2rem;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 16px;
    white-space: nowrap;
    border: 1px solid  rgba(0, 0, 0, 0.22);
    cursor: pointer;
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 15px;
      top: 50%;
      width: 3px;
      height: 15px;
      transform: translateY(-50%) rotate(45deg);
      background-color: rgb(165, 2, 2);
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 15px;
      top: 50%;
      width: 3px;
      height: 15px;
      transform: translateY(-50%) rotate(-45deg);
      background-color: rgb(165, 2, 2);
    }
  }
}